.title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:600px) {
    img, centeredobject {
        width: 80%;
    }
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 11pt;
    font-weight: 200;
}